<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-Model e <V-IF></V-IF></title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1> {{ fullName() }} </h1>
    <hr>

    <label>Primeiro Nome</label>
    <input type="text" v-model="firstName">
    <label>Sobrenome</label>
    <input type="text" v-model="lastName">

    <input type="button" value="Ligar"
    @click="onOff()">
    <input placeholder="Digite Acender ou Apagar" type="text" v-model="interruptor">
    <br>
    <img v-if="status == false" src="img/off.png" width="250px">
    <img v-else src="img/on.png" width="250px">



</div>
    
</body>
</html>

<script src="index.js"></script>